#first-face {
	position: relative;
	height: 100vh;
	background: no-repeat center right fixed url(../img/first-face-background.jpg);
	background-size: cover;
	margin: 0;
}

#first-face .content {
	display: flex;
	justify-content: center;
	background-color: #f0c419d6;
	align-items: center;
	margin-top: 60px;
	height: calc(100% - 60px);
	position: absolute;
	width: 100%;
}

#first-face .container {
	text-align: center;
	color: white;
	;
}

#first-face .container h1 {
	font-size: 4rem;
	font-weight: bold;
}

#first-face .container p {
	font-size: 1.5rem;
	font-weight: 300;
}

#mission .container {
	padding: 0 1.2rem
}

#mission .icon-text-holder {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	align-items: center;
}

#mission .icon-text-holder .text {
	font-size: 1.5rem;
	font-weight: 200;
	text-align: center;
}

#vision {
	background-color: #f0c419d6;
	color: white;
	padding: 4rem 0;
}

#vision hr {
	background-color: white;
}

#vision .content .text {
	text-align: justify;
	font-size: 1.5rem;
	font-weight: 300;
	line-height: 2rem;
}

#vision .content .image {
	border: 10px solid white;
	box-sizing: border-box;
	padding: 0;
	margin: 1rem 2rem;
	height: fit-content;
}

#vision .content .image img {
	width: 100%;
}

#causes {
	min-height: 100vh;
}

#causes .content {
	padding-top: 1rem;
}

@media screen and (min-width: 576px) {
	#vision .content .text {
		padding-right: 2rem;
	}
}

@media screen and (min-width: 768px) {
	#first-face .container h1 {
		font-size: 6rem;
		font-weight: bold;
	}
	#first-face .container p {
		font-size: 2rem;
	}
	/* #mission .container {
		padding: 40px 180px
	} */
	.section-name {
		font-size: 4rem;
	}
	.quote {
		font-size: 2rem;
	}
}

@media screen and (min-width: 992px) {
	.navbar-nav li {
		margin: 0 1rem;
	}
	#vision .content .image {
		position: relative;
		right: 15px;
		padding: 0;
		margin: 0;
	}
}